main {
    padding: 0.5em 3em;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #11212D, #253745);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: rgb(22,20,27);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    
}

header .Logo {
    margin: 0;
    padding: 0;
    width: 3.1em;
    border-radius: 1em;
}

nav.Main-Bar a{
    text-decoration: none;
    color: aliceblue;
    margin-right: 3em;
}

nav.Main-Bar a:hover{
    text-decoration: underline;
}

#Presentation{
    padding-top: 4em;
    text-align: center;
    position: relative;
    margin-bottom: 4em;
}

#Presentation .Text {
    padding: 0 1.3em;
}

#Presentation img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -1;
    width: 100%;
    height: 15em;
    opacity: 0.1;
    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

}

#Presentation span{
    color: rgb(224, 173, 3);
}


#Presentation p{
    margin-top: 2em;
    font-size: 15px;
    
}

#AboutMe {
    text-align: center;
    justify-content: center;
    margin-bottom: 6em;
}


#AboutMe h2 {
    color: aliceblue;
    font-size: 30px;
    margin-bottom: 0;
}

#AboutMe span{
    color: rgb(224, 173, 3);
}

#AboutMe div {
    margin-top: 0.5em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

#AboutMe span{
    margin-bottom: 1em;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
}
#AboutMe img {
    width: 100%;
}


#AboutMe p {
    background-color: rgba(22,20,27,0.6);
    width: 50%;
    padding: 1em;
    border-radius: 1em;
    text-align: justify;
    margin-top: 0;
    margin-left: 1em;

}


#Projects {
    text-align: center;
    margin-bottom: 3em;

}

#Projects h2 {
    color: aliceblue;
}

#Projects ul {
    margin-top: 1em;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 2em 2em;
}

@media (max-width: 768px) {  
    #Projects ul {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas mobile */
        justify-content: center;
    }

    #AboutMe p{
        width: auto;
    }
}

@media (min-width: 768px) {  /* Três colunas em telas maiores */
    #Projects ul {
        grid-template-columns: repeat(2, 1fr);
        padding: 0 19em;
        justify-content: center;
    }
}

#Projects ul li {
    padding: 0.7em 0.2em 1em 0.2em;
    background-color: rgba(22,20,27,0.6);
    border-radius: 1.2em;

}

#Projects ul li a {
    color: rgb(224, 173, 3);
    text-decoration: none;
}


#Projects ul li a:hover {
    text-decoration: underline;
}


#Projects p {
    text-align: justify;
    padding: 0em 1.5em;
}

hr {
    margin: 0;
    padding: 0;
    border-color: #11212D;
}

#Contact {
    text-align: center;
}

#Contact h2 {
    color: aliceblue;
    margin-top: 0.2em;
    margin-bottom: 0;
}

#Contact p{
    color: aliceblue;
    
}

#Contact button {
    
    background-color: rgb(224, 173, 3);
    color: rgb(22,20,27);
    padding: 0.4em;
    margin: 1em 1em;
    border-radius: 0.5em;
    border-color: rgb(22,20,27);
}

#Contact {
    background-color: rgba(22, 20, 27, 0.6);
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}

#Contact h2 {
    margin-top: 1em;
    padding-top: 0.3em;
}

#Contact #LinkedinButton:hover{
    background-color: #0a66c2;
    color: aliceblue;
}

#Contact #InstagramButton:hover{
    background-color: #E1306C;
    color: aliceblue;
}

#Contact a {
    text-decoration: none;
    color: rgb(22,20,27);
}

#Contact a:hover {
    text-decoration: underline;
}

footer {
    background-color: rgb(22,20,27);
    text-align: left;
    padding: 0.1em 0em 0.1em 1em;
}
